	    <section id="mapa"></section>
        </section>
			
        <aside>
             <p>Tu posición actual es:</p>
             <p>Latitud: <span id="latitude"></span></p>		
	         <p>Longitud: <span id="longitude"></span></p>
		</aside>
